.navbar, .footer {
    background: #96d0bb;
}

.container {
    margin-top: 50px;
}

.hero h1 {
    color: #96d0bb;
     text-shadow:
         3px 3px 0 #000,
       -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;
  }

  .card{
    width: 100%;
    background-color: #96d0bb;
    margin: 20px auto;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    border-style: solid;
    padding: 10px;
}

.card .feature{
    border: 2px solid darkred;
}


.categories h2 {
    margin-top: 5rem;
}

.hero-txt {
    margin-left: 3rem;
}

.home-btn {
    background: #96d0bb;
}

.Areas{
    color: white;
    text-shadow:
        3px 3px 0 #000,
      -1px -1px 0 #000,  
       1px -1px 0 #000,
       -1px 1px 0 #000,
        1px 1px 0 #000;
}