<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Here is your random meal: {{singleMeal.meals[0].strMeal}}</h1>
    <h3>Category: {{singleMeal.meals[0].strCategory}}</h3>
    <h3>Country of Origin: {{singleMeal.meals[0].strArea}}</h3>



    <img src="{{singleMeal.meals[0].strMealThumb}}" alt="Image">

    <h4>Ingredients:</h4>
    

    <p>{{singleMeal.meals[0].strIngredient1}}</p>
    <p>{{singleMeal.meals[0].strIngredient2}}</p>
    <p>{{singleMeal.meals[0].strIngredient3}}</p>
    <p>{{singleMeal.meals[0].strIngredient4}}</p>
    <p>{{singleMeal.meals[0].strIngredient5}}</p>
    <p>{{singleMeal.meals[0].strIngredient6}}</p>
    <p>{{singleMeal.meals[0].strIngredient7}}</p>
    <p>{{singleMeal.meals[0].strIngredient8}}</p>
    <p>{{singleMeal.meals[0].strIngredient9}}</p>
    <p>{{singleMeal.meals[0].strIngredient10}}</p>
    <p>{{singleMeal.meals[0].strIngredient11}}</p>
    <p>{{singleMeal.meals[0].strIngredient12}}</p>
    <p>{{singleMeal.meals[0].strIngredient13}}</p>
    <p>{{singleMeal.meals[0].strIngredient14}}</p>
    <p>{{singleMeal.meals[0].strIngredient15}}</p>
    <p>{{singleMeal.meals[0].strIngredient16}}</p>
    <p>{{singleMeal.meals[0].strIngredient17}}</p>
    <p>{{singleMeal.meals[0].strIngredient18}}</p>
    <p>{{singleMeal.meals[0].strIngredient19}}</p>
    <p>{{singleMeal.meals[0].strIngredient20}}</p>

    <h4>Measurements:</h4>

    <p>{{singleMeal.meals[0].strMeasure1}}</p>
    <p>{{singleMeal.meals[0].strMeasure2}}</p>
    <p>{{singleMeal.meals[0].strMeasure3}}</p>
    <p>{{singleMeal.meals[0].strMeasure4}}</p>
    <p>{{singleMeal.meals[0].strMeasure5}}</p>
    <p>{{singleMeal.meals[0].strMeasure6}}</p>
    <p>{{singleMeal.meals[0].strMeasure7}}</p>
    <p>{{singleMeal.meals[0].strMeasure8}}</p>
    <p>{{singleMeal.meals[0].strMeasure9}}</p>
    <p>{{singleMeal.meals[0].strMeasure10}}</p>
    <p>{{singleMeal.meals[0].strMeasure11}}</p>
    <p>{{singleMeal.meals[0].strMeasure12}}</p>
    <p>{{singleMeal.meals[0].strMeasure13}}</p>
    <p>{{singleMeal.meals[0].strMeasure14}}</p>
    <p>{{singleMeal.meals[0].strMeasure15}}</p>
    <p>{{singleMeal.meals[0].strMeasure16}}</p>
    <p>{{singleMeal.meals[0].strMeasure17}}</p>
    <p>{{singleMeal.meals[0].strMeasure18}}</p>
    <p>{{singleMeal.meals[0].strMeasure19}}</p>
    <p>{{singleMeal.meals[0].strMeasure20}}</p>


    <h4>Instructions:</h4>

    <p>{{singleMeal.meals[0].strInstructions}}</p>


    
</body>
</html>